<nav class="navbar">
  <div class="navbar__container">

    <a class="navbar__brand" href="#">
    <span class="navbar__logo">
        <img src="assets/images/logo2.png" alt="CashForTrash logo">
    </span>

    <span>CashForTrash</span>
    </a>

    <div class="navbar__links">
      <a href="#how-it-works">كيف يعمل التطبيق؟</a>
      <a href="#impact">تأثيرنا</a>
       <a href="#about">عنا</a>
      <a href="#reviews">اراء مستخدمينا</a>
    </div>

    <a class="navbar__cta" href="#get-started">
      ابدأ الآن
    </a>

  </div>
</nav>